<main class="h-screen">
     <%- include('../partials/_archiveModal') %>
     <section>
          <div class="flex justify-center">
               <h1 class="text-4xl font-bold">Archives</h1>
          </div>

          
          <div>
               
          </div>
     </section>
     
</main>
