<p>This is a much more complicated thing to add and I dont have time to do it with the due date being monday. Sry lol <span class="text-3xl">&#128556;</span></p>


<!-- TODO: Finish setting Profile Details form. Just add input rather than being fancy and submit. Make sure it works -->


<!-- TODO: 
     Order of Operations:
     1. Create a form that will allow the user to input their profile details
     2. Add CRUD functionality to Archives
     3. If you have time, add CRUD to profile details to edit their details.
     4. Allow view of Spells to profile

-->